.first-screen .text-mac{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 40px;
}

body{
    background-color: #fcfcfc;
}

.first-screen .text-mac .new{
    font-size: 20px;
    color: orange;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.first-screen .text-mac h1{
    line-height: 0px;

    font-size: 70px;
}

.first-screen .text-mac span{
    font-size: 30px;
}

.first-screen .text-mac a{
    font-size: 20px;
}

.first-screen .text-mac .buy{
    background-color: blue;
    width: 60px;
    height: 30px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.first-screen .img img{
    width: 1000px;
    height: 700px;
}
