.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: rgb(31, 31, 31);
    color: gray;
    font-size: 20px;
    z-index: 10;
}
.header img{
    width: 20px;
    height: 20px;
}

.links{
    display: flex;
    align-items: center;
    margin-left: 40%;
    color: gray;
}

.links a{
    color: gray;
}

.header-item{
    margin-left: 30px;
}